.card {
  margin-top: 40px;
  color: white;
  height: 300px;
  width: 435px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0 15px 0 15px;
  text-align: center;
  align-items: center;
}

.card img {
  position: absolute;
  margin-top: -40px;
  height: 600px;
}

.card:hover {
  transform: scale(1.05);
  -webkit-filter: drop-shadow(10px 10px 20px white) drop-shadow(-10px -10px 20px white);
  filter: drop-shadow(10px 10px 20px white) drop-shadow(-10px -10px 20px white);
}

.card:active {
  transform: scale(1.05);
  -webkit-filter: drop-shadow(10px 10px 20px #fde599) drop-shadow(-10px -10px 20px #fde599);
  filter: drop-shadow(10px 10px 20px #fde599) drop-shadow(-10px -10px 20px #fde599);
}

.card-info {
  position: relative;
  margin-top: 65px;
  height: 500px;
  width: 270px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.card-description {
  position: absolute;
  margin-top: 270px;
  height: 300px;
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-title {
  position: absolute;
  margin-top: 220px;
  font-family: "JackPirate";
  font-size: 20px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

.damage {
  color: #45c0e7;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.damage-text {
  font-family: "JackPirate";
}

.damage-value {
  font-family: "Chomsky";
  margin-left: 10px;
}

.gain {
  color: #00ea92;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gain-text {
  font-family: "JackPirate";
}

.gain-value {
  font-family: "Chomsky";
  margin-left: 10px;
}

.cost {
  color: #f7f21e;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cost-text {
  font-family: "JackPirate";
}

.cost-value {
  font-family: "Chomsky";
  margin-left: 10px;
}

@font-face {
  font-family: "JackPirate";
  src: url("../../../assets/fonts/JackPirate/jackpirate.eot");
  src: url("../../../assets/fonts/JackPirate/jackpirate.eot?#iefix")
      format("embedded-opentype"),
    url("../../../assets/fonts/JackPirate/jackpirate.woff2") format("woff2"),
    url("../../../assets/fonts/JackPirate/jackpirate.woff") format("woff"),
    url("../../../assets/fonts/JackPirate/jackpirate.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Chomsky";
  src: url("../../../assets/fonts/Chomsky/chomsky.eot");
  src: url("../../../assets/fonts/Chomsky/chomsky.eot?#iefix")
      format("embedded-opentype"),
    url("../../../assets/fonts/Chomsky/chomsky.woff2") format("woff2"),
    url("../../../assets/fonts/Chomsky/chomsky.woff") format("woff"),
    url("../../../assets/fonts/Chomsky/chomsky.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
