.card {
  position: relative;
  color: white;
  background: black;
  height: 600px;
  width: 400px;
  border: 2px white solid;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
  padding: 0 15px 0 15px;
}

.card:hover {
  box-shadow: 0 0 60px #b2caee;
}

.card-info {
    position: relative;
    height: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}

.card-title {
  font-family: "JackPirate";
  font-size: 20px;
  text-align: center;
}

.damage {
  color: #45c0e7;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.damage-text {
  font-family: "JackPirate";
}

.damage-value {
  font-family: "Chomsky";
  margin-left: 10px;
}

.gain {
  color: #00ea92;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gain-text {
  font-family: "JackPirate";
}

.gain-value {
  font-family: "Chomsky";
  margin-left: 10px;
}

.cost {
  color: #ed454e;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cost-text {
  font-family: "JackPirate";
}

.cost-value {
  font-family: "Chomsky";
  margin-left: 10px;
}

@font-face {
  font-family: "JackPirate";
  src: url("../../../assets/fonts/JackPirate/jackpirate.eot");
  src: url("../../../assets/fonts/JackPirate/jackpirate.eot?#iefix")
      format("embedded-opentype"),
    url("../../../assets/fonts/JackPirate/jackpirate.woff2") format("woff2"),
    url("../../../assets/fonts/JackPirate/jackpirate.woff") format("woff"),
    url("../../../assets/fonts/JackPirate/jackpirate.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Chomsky";
  src: url("../../../assets/fonts/Chomsky/chomsky.eot");
  src: url("../../../assets/fonts/Chomsky/chomsky.eot?#iefix")
      format("embedded-opentype"),
    url("../../../assets/fonts/Chomsky/chomsky.woff2") format("woff2"),
    url("../../../assets/fonts/Chomsky/chomsky.woff") format("woff"),
    url("../../../assets/fonts/Chomsky/chomsky.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
