.topbar {
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  background: black;
  box-shadow: 0 20px 60px #11171e;
  display: flex;
  justify-content: center;
}

.bug {
  position: relative;
  margin-top: -200px;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background: black;
  box-shadow: 0 20px 60px #11171e;
}

.bug img {
  padding-top: 100px;
  padding-left: 25px;
  height: 300px;
}

.info-bug {
  position: fixed;
  font-size: 40px;
  right: 0;
  top: -40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.bugname {
  color: white;
  margin-left: 70px;
  font-family: "JackPirate";
}

.life-bug {
  color: #ed454e;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px;
  margin-left: 530px;
}

.life-bug img {
  height: 110px;
  width: auto;
}

.life-bug-text {
  width: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.life-bug-text-title {
  font-family: "JackPirate";
}

.life-bug-text-value {
  font-family: "Chomsky";
  margin-left: 10px;
}

.cards-bug img {
  height: 70px;
  margin-left: 430px;
}

.mana-bug {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px;
  color: #5462ea;
}

.mana-bug img {
  height: 100px;
  width: auto;
  margin-right: 5px;
}

.mana-bug-text {
  width: 170px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mana-bug-text-title {
  font-family: "JackPirate";
}

.mana-bug-text-value {
  font-family: "Chomsky";
  margin-left: 10px;
}

.cards-bug img {
  height: 70px;
  margin-left: 460px;
}

@font-face {
  font-family: "JackPirate";
  src: url("../../assets/fonts/JackPirate/jackpirate.eot");
  src: url("../../assets/fonts/JackPirate/jackpirate.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/JackPirate/jackpirate.woff2") format("woff2"),
    url("../../assets/fonts/JackPirate/jackpirate.woff") format("woff"),
    url("../../assets/fonts/JackPirate/jackpirate.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Chomsky";
  src: url("../../assets/fonts/Chomsky/chomsky.eot");
  src: url("../../assets/fonts/Chomsky/chomsky.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/Chomsky/chomsky.woff2") format("woff2"),
    url("../../assets/fonts/Chomsky/chomsky.woff") format("woff"),
    url("../../assets/fonts/Chomsky/chomsky.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}