.content-footbar {
  margin: 0;
  display: flex;
  justify-content: center;
}

.footbar {
  position: fixed;
  bottom: 0;
  height: 100px;
  width: 100%;
  background: #08101e;
  box-shadow: 0 -10px 60px #b2caee;
  display: flex;
  justify-content: center;
}

.player {
  position: relative;
  margin-top: -100px;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background: #08101e;
  display: flex;
  justify-content: center;
}

.player-shadow {
  position: fixed;
  bottom: -200px;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  box-shadow: 0 -10px 60px #b2caee;
}

.player img {
  height: 700px;
  padding-right: 125px;
}

.info-player {
  position: fixed;
  font-size: 40px;
  left: 0;
  bottom: -45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.nickname {
  color: white;
  margin-left: 540px;
  font-family: "JackPirate";
}

.life {
  color: #fee899;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 50px;
  width: 300px;
}

.life img {
  height: 110px;
  width: auto;
  margin-right: 5px;
}

.life-text {
  width: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.life-text-title {
  font-family: "JackPirate";
}

.life-text-value {
  font-family: "Chomsky";
  margin-left: 10px;
}

.mana {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px;
  color: #befffa;
  margin-left: 30px;
}

.mana img {
  height: 100px;
  width: auto;
  margin-right: 5px;
}

.mana-text {
  width: 170px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mana-text-title {
  font-family: "JackPirate";
}

.mana-text-value {
  font-family: "Chomsky";
  margin-left: 10px;
}

.play {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px;
  margin-left: 80px;
  font-family: "JackPirate";
}

.play .play-text {
  visibility: hidden;
}

.play:hover .play-text {
  color: #e5e5e5;
  visibility: visible;
}

.play img {
  height: 70px;
  margin-right: 20px;
}

.play:hover img {
  transform: scale(1.1);
}

.pass-turn {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 500px;
  margin-left: 50px;
  font-family: "JackPirate";
}

.pass-turn .pass-text {
  visibility: hidden;
}

.pass-turn:hover .pass-text {
  color: #00ea92;
  visibility: visible;
}

.pass-turn img {
  height: 100px;
  margin-right: 5px;
}

.pass-turn:hover img {
  transform: scale(1.1);
}

@font-face {
  font-family: "JackPirate";
  src: url("../../assets/fonts/JackPirate/jackpirate.eot");
  src: url("../../assets/fonts/JackPirate/jackpirate.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/JackPirate/jackpirate.woff2") format("woff2"),
    url("../../assets/fonts/JackPirate/jackpirate.woff") format("woff"),
    url("../../assets/fonts/JackPirate/jackpirate.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Chomsky";
  src: url("../../assets/fonts/Chomsky/chomsky.eot");
  src: url("../../assets/fonts/Chomsky/chomsky.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/Chomsky/chomsky.woff2") format("woff2"),
    url("../../assets/fonts/Chomsky/chomsky.woff") format("woff"),
    url("../../assets/fonts/Chomsky/chomsky.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}