.content {
    z-index: 1;
    position: relative;
    margin-top: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.input h1 {
    font-size: 60px;
}

.title {
    line-height: 40px;
    font-size: 60px;
}

.input {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

