.content-login {
    z-index: 1;
    position: relative;
    margin-top: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'JackPirate';
}

.input h1 {
    font-size: 60px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-shadow: -10px -10px 20px black, 10px 10px 20px black;
}

.title {
    line-height: 40px;
    font-size: 60px;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;
    text-shadow: -10px -10px 20px black, 10px 10px 20px black;
}

.input {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

@font-face {
    font-family: 'JackPirate';
    src: url('../../core/assets/fonts/JackPirate/jackpirate.eot');
    src: url('../../core/assets/fonts/JackPirate/jackpirate.eot?#iefix') format('embedded-opentype'),
         url('../../core/assets/fonts/JackPirate/jackpirate.woff2') format('woff2'),
         url('../../core/assets/fonts/JackPirate/jackpirate.woff') format('woff'),
         url('../../core/assets/fonts/JackPirate/jackpirate.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  
  }